<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../five-bells-viz-graph/five-bells-viz-graph.html">
<link rel="import" href="../five-bells-viz-history/five-bells-viz-history.html">

<polymer-element name="five-bells-viz-app">
  <template>
    <div id="main" layout>
      <five-bells-viz-graph id="graph" fit></five-bells-viz-graph>
      <five-bells-viz-history id="history" on-payment-select="{{handlePaymentSelected}}"></five-bells-viz-history>
    </div>
  </template>

  <script>
    System.import('components/five-bells-viz-app/five-bells-viz-app');
  </script>

</polymer-element>
