html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.node {
  fill: #ccc;
  stroke: none;
}

.link {
  fill: none;
  stroke: #777;
  stroke-width: 2px;
}

.node.fixed {
  stroke: #333;
  stroke-width: 2px;
}
